


<section class="page-container">
    <div class="notes">
        <h1 style="text-align:center;">Bass note finder</h1>
        
        <ul class="notesList">
            <li  class="notesList-item" *ngFor="let note of notes"
            (click)="showOnFret(note)" 
            [ngClass]="{notesListActive: note == selected}">{{note | uppercase}}</li>
        </ul>

      
    </div>

    <!--Sharpend, flatten, -->




    <div class="neckTable" style="border: 7px solid #000;" >
            <div class="divTableBody">
            <div class="divTableRow">
            <div  class="divTableCell" *ngFor=" let fret of gString ; let first = first"><span [ngClass]="{highlightCell: fret == selected, first: first}" class="note">{{fret}} </span> </div>
            
            </div>
            <div class="divTableRow">
            
            <div class="divTableCell" *ngFor=" let fret of dString ; let first = first"><span  [ngClass]="{highlightCell: fret == selected, first: first}" class="note">{{fret}} </span></div>
            </div>
            <div class="divTableRow">
            
            <div  class="divTableCell" *ngFor=" let fret of aString ; let first = first"><span  [ngClass]="{highlightCell: fret == selected, first: first}" class="note">{{fret}} </span></div>
            </div>
            <div class="divTableRow">
            
            <div class="divTableCell" *ngFor=" let fret of eString ; let first = first"><span  [ngClass]="{highlightCell: fret == selected, first: first}" class="note">{{fret}} </span></div>
          
            </div>
            <div class="divTableRow">
            
            <div class="divTableCell frets" *ngFor=" let fret of fretNumber ; let first = first" >{{fret}}</div>
            </div>
            </div>
            </div>
            <!-- neck.com -->

            <p>By Andi Milhomme</p>
        </section>
